In [1]:
import pickle
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings(action = 'ignore')
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline

In [2]:
tr = pickle.load(open('tr.pkl','rb'))

In [3]:
action_type = pickle.load(open('action_type.pkl','rb'))

In [4]:
action_seller = pickle.load(open('action_seller.pkl','rb'))

In [5]:
data_z = pickle.load(open("data_z.pkl","rb"))

In [6]:
ui = pickle.load(open('ui.pkl','rb'))

In [7]:
data_zz = data_z.iloc[:,7:]
data_zzz = data_z.iloc[:,[0]]
datas = pd.concat([data_zzz,data_zz],axis = 1)
datas

,user_id,user_all_item,all_item_unique,all_cat_unique,all_seller_unique,all_brand_unique,all_time_unique,all_action_unique,time_active
0,1,33,12,6,9,9,5,2,102
1,2,63,43,14,14,15,9,3,584
2,3,68,45,19,23,21,13,3,595
3,4,50,28,13,12,12,10,2,584
4,5,173,87,40,56,60,30,3,592
...,...,...,...,...,...,...,...,...,...
424165,424166,90,48,12,22,23,12,2,597
424166,424167,35,15,9,12,9,8,3,582
424167,424168,223,160,48,112,96,55,3,588
424168,424169,297,176,46,102,100,34,3,600
424169,424170,40,15,5,6,6,5,2,6

In [8]:
tr.head()

   user_id  merchant_id  label
0    34176         3906      0
1    34176          121      0
2    34176         4356      1
3    34176         2217      0
4   230784         4818      0

In [9]:
tr.isnull().sum()

user_id        0
merchant_id    0
label          0
dtype: int64

In [10]:
ui.head()

   user_id  age_range  gender
0   376517        6.0     1.0
1   234512        5.0     0.0
2   344532        5.0     0.0
3   186135        5.0     0.0
4    30230        5.0     0.0

In [11]:
ui.isnull().sum()

user_id         0
age_range    2217
gender       6436
dtype: int64

In [12]:
action_type.head()

,user_id,action_type_0,action_type_1,action_type_2,action_type_3,action_sum,action_ratio,type_0_ratio,type_1_ratio,type_2_ratio,type_3_ratio,trans_ratio_ckick,trans_ratio_cart,trans_ratio_favor
0,1,27.0,0.0,6.0,0.0,33.0,-14.328125,-0.085388,-2.302734,-1.266602,-2.302734,-1.507812,4.093750,4.093750
1,2,47.0,0.0,14.0,2.0,63.0,-13.679688,-0.167236,-2.302734,-1.132812,-2.027344,-1.212891,4.941406,1.897461
2,3,63.0,0.0,4.0,1.0,68.0,-13.601562,0.026123,-2.302734,-1.839844,-2.166016,-2.757812,3.689453,1.291016
3,4,49.0,0.0,1.0,0.0,50.0,-13.906250,0.076965,-2.302734,-2.121094,-2.302734,-3.894531,2.302734,2.302734
4,5,150.0,0.0,13.0,10.0,173.0,-12.671875,-0.033508,-2.302734,-1.742188,-1.846680,-2.447266,4.867188,0.252441

In [13]:
action_type.isnull().sum()

user_id              0
action_type_0        0
action_type_1        0
action_type_2        0
action_type_3        0
action_sum           0
action_ratio         0
type_0_ratio         0
type_1_ratio         0
type_2_ratio         0
type_3_ratio         0
trans_ratio_ckick    0
trans_ratio_cart     0
trans_ratio_favor    0
dtype: int64

In [14]:
action_seller.head()

,user_id,seller_id,us_action_type_0,us_action_type_1,us_action_type_2,us_action_type_3,us_action_sum,us_action_ratio,us_type_0_ratio,us_type_1_ratio,us_type_2_ratio,us_type_3_ratio,us_trans_ratio_ckick,us_trans_ratio_cart,us_trans_ratio_favor
0,1,471,1.0,0.0,0.0,0.0,1.0,0.030304,0.095337,-2.302734,-2.302734,-2.302734,-2.302734,-2.302734,-2.302734
1,1,739,1.0,0.0,0.0,0.0,1.0,0.030304,0.095337,-2.302734,-2.302734,-2.302734,-2.302734,-2.302734,-2.302734
2,1,925,3.0,0.0,1.0,0.0,4.0,0.121216,-0.162476,-2.302734,-1.049805,-2.302734,-0.861328,2.312500,2.312500
3,1,1019,10.0,0.0,4.0,0.0,14.0,0.424316,-0.205444,-2.302734,-0.952637,-2.302734,-0.701172,3.691406,3.691406
4,1,1156,1.0,0.0,0.0,0.0,1.0,0.030304,0.095337,-2.302734,-2.302734,-2.302734,-2.302734,-2.302734,-2.302734

In [15]:
action_seller.isnull().sum()

user_id                 0
seller_id               0
us_action_type_0        0
us_action_type_1        0
us_action_type_2        0
us_action_type_3        0
us_action_sum           0
us_action_ratio         0
us_type_0_ratio         0
us_type_1_ratio         0
us_type_2_ratio         0
us_type_3_ratio         0
us_trans_ratio_ckick    0
us_trans_ratio_cart     0
us_trans_ratio_favor    0
dtype: int64

In [18]:
d = tr.merge(ui,
             on = ['user_id'],
             how = 'left') \
.merge(action_type,
       on = ['user_id'],
       how = 'left') \
.merge(action_seller,
       left_on = ['user_id','merchant_id'],
       right_on = ['user_id','seller_id'],
       how = 'left') \
.merge(datas,
       on = ['user_id'],
       how =  'left')
d

,user_id,merchant_id,label,age_range,gender,action_type_0,action_type_1,action_type_2,action_type_3,action_sum,...,us_trans_ratio_cart,us_trans_ratio_favor,user_all_item,all_item_unique,all_cat_unique,all_seller_unique,all_brand_unique,all_time_unique,all_action_unique,time_active
0,34176,3906,0,6.0,0.0,410.0,0.0,34.0,7.0,451.0,...,2.312500,-0.551270,451,256,45,109,106,47,3,590
1,34176,121,0,6.0,0.0,410.0,0.0,34.0,7.0,451.0,...,2.312500,2.312500,451,256,45,109,106,47,3,590
2,34176,4356,1,6.0,0.0,410.0,0.0,34.0,7.0,451.0,...,4.097656,4.097656,451,256,45,109,106,47,3,590
3,34176,2217,0,6.0,0.0,410.0,0.0,34.0,7.0,451.0,...,2.312500,2.312500,451,256,45,109,106,47,3,590
4,230784,4818,0,0.0,0.0,47.0,0.0,7.0,0.0,54.0,...,2.312500,2.312500,54,31,17,20,19,16,2,510
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260859,359807,4325,0,4.0,1.0,107.0,0.0,9.0,1.0,117.0,...,3.000000,3.000000,117,49,25,33,32,12,3,191
260860,294527,3971,0,0.0,1.0,162.0,0.0,5.0,31.0,198.0,...,2.312500,-0.861328,198,89,20,38,36,6,3,186
260861,294527,152,0,0.0,1.0,162.0,0.0,5.0,31.0,198.0,...,2.312500,0.009048,198,89,20,38,36,6,3,186
260862,294527,2537,0,0.0,1.0,162.0,0.0,5.0,31.0,198.0,...,2.312500,2.312500,198,89,20,38,36,6,3,186
260863,229247,4140,0,4.0,2.0,181.0,0.0,9.0,4.0,194.0,...,2.312500,2.312500,194,127,29,50,49,23,3,595

In [19]:
d.isnull().sum()

user_id                    0
merchant_id                0
label                      0
age_range               1253
gender                  3711
action_type_0              0
action_type_1              0
action_type_2              0
action_type_3              0
action_sum                 0
action_ratio               0
type_0_ratio               0
type_1_ratio               0
type_2_ratio               0
type_3_ratio               0
trans_ratio_ckick          0
trans_ratio_cart           0
trans_ratio_favor          0
seller_id                  0
us_action_type_0           0
us_action_type_1           0
us_action_type_2           0
us_action_type_3           0
us_action_sum              0
us_action_ratio            0
us_type_0_ratio            0
us_type_1_ratio            0
us_type_2_ratio            0
us_type_3_ratio            0
us_trans_ratio_ckick       0
us_trans_ratio_cart        0
us_trans_ratio_favor       0
user_all_item              0
all_item_unique            0
all_cat_unique             0
all_seller_unique          0
all_brand_unique           0
all_time_unique            0
all_action_unique          0
time_active                0
dtype: int64

In [20]:
d['age_range'].fillna(0,inplace=True)

In [22]:
d['gender'].fillna(2,inplace = True)

In [24]:
d.isnull().sum().any()

False

In [45]:
def getb(estimator,params,x_tr,x_te,y_tr,y_te):
    grid = GridSearchCV(estimator,
                        params,
                        cv = 3,
                        refit = True)
    grid.fit(x_tr,y_tr)
    y_pre = grid.predict(x_te)
    print(classification_report(y_te,y_pre))
    print(grid.best_params_)

In [39]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

In [40]:
lr_p = {"C":[1e-2,1e-1,1e-3,1e-0],'penalty':['l1','l2']}
dtc_p = {"max_depth":[1,3,4,6,7,9]}
knc_p = {"n_neighbors":[3,4,5,6,7]}
lr = LogisticRegression()
dtc = DecisionTreeClassifier()
knc = KNeighborsClassifier()

In [41]:
col = [x for x in d.columns if x not in ['user_id','merchant_id','label']]
col

['age_range',
 'gender',
 'action_type_0',
 'action_type_1',
 'action_type_2',
 'action_type_3',
 'action_sum',
 'action_ratio',
 'type_0_ratio',
 'type_1_ratio',
 'type_2_ratio',
 'type_3_ratio',
 'trans_ratio_ckick',
 'trans_ratio_cart',
 'trans_ratio_favor',
 'seller_id',
 'us_action_type_0',
 'us_action_type_1',
 'us_action_type_2',
 'us_action_type_3',
 'us_action_sum',
 'us_action_ratio',
 'us_type_0_ratio',
 'us_type_1_ratio',
 'us_type_2_ratio',
 'us_type_3_ratio',
 'us_trans_ratio_ckick',
 'us_trans_ratio_cart',
 'us_trans_ratio_favor',
 'user_all_item',
 'all_item_unique',
 'all_cat_unique',
 'all_seller_unique',
 'all_brand_unique',
 'all_time_unique',
 'all_action_unique',
 'time_active']

In [42]:
x = d.loc[:,col]
x.head()

,age_range,gender,action_type_0,action_type_1,action_type_2,action_type_3,action_sum,action_ratio,type_0_ratio,type_1_ratio,...,us_trans_ratio_cart,us_trans_ratio_favor,user_all_item,all_item_unique,all_cat_unique,all_seller_unique,all_brand_unique,all_time_unique,all_action_unique,time_active
0,6.0,0.0,410.0,0.0,34.0,7.0,451.0,-11.710938,0.009048,-2.302734,...,2.312500,-0.551270,451,256,45,109,106,47,3,590
1,6.0,0.0,410.0,0.0,34.0,7.0,451.0,-11.710938,0.009048,-2.302734,...,2.312500,2.312500,451,256,45,109,106,47,3,590
2,6.0,0.0,410.0,0.0,34.0,7.0,451.0,-11.710938,0.009048,-2.302734,...,4.097656,4.097656,451,256,45,109,106,47,3,590
3,6.0,0.0,410.0,0.0,34.0,7.0,451.0,-11.710938,0.009048,-2.302734,...,2.312500,2.312500,451,256,45,109,106,47,3,590
4,0.0,0.0,47.0,0.0,7.0,0.0,54.0,-13.835938,-0.030075,-2.302734,...,2.312500,2.312500,54,31,17,20,19,16,2,510

In [36]:
y = d.loc[:,'label']
y

0         0
1         0
2         1
3         0
4         0
         ..
260859    0
260860    0
260861    0
260862    0
260863    0
Name: label, Length: 260864, dtype: int8

In [37]:
x_tr,x_te,y_tr,y_te = train_test_split(x,y,test_size = 0.2,random_state = 42)

In [46]:
lr_p = {
    "lrc__C":[1e-2,1e-1,1e-3,1e-0],
    "lrc__penalty":["l1","l2"]}
print(lr_p)
pipe = Pipeline([('lrc',lr)])
getb(pipe,lr_p,x_tr,x_te,y_tr,y_te)

{'lrc__C': [0.01, 0.1, 0.001, 1.0], 'lrc__penalty': ['l1', 'l2']}
              precision    recall  f1-score   support

           0       0.94      1.00      0.97     49026
           1       0.12      0.00      0.00      3147

    accuracy                           0.94     52173
   macro avg       0.53      0.50      0.49     52173
weighted avg       0.89      0.94      0.91     52173

{'lrc__C': 1.0, 'lrc__penalty': 'l2'}

In [47]:
knc_params = {"classifier__n_neighbors":[3,4,5,6]}
print(knc_params)
pipeline = Pipeline([('classifier',knc)])
getb(pipeline,knc_params,x_tr,x_te,y_tr,y_te)

{'classifier__n_neighbors': [3, 4, 5, 6]}
              precision    recall  f1-score   support

           0       0.94      1.00      0.97     49026
           1       0.07      0.00      0.00      3147

    accuracy                           0.94     52173
   macro avg       0.50      0.50      0.48     52173
weighted avg       0.89      0.94      0.91     52173

{'classifier__n_neighbors': 6}

In [49]:
dtc_p = {"dtc__max_depth":[3,7,9]}
print(dtc_p)
pipeline = Pipeline([("dtc",dtc)])
getb(pipeline,dtc_p,x_tr,x_te,y_tr,y_te)

{'dtc__max_depth': [3, 7, 9]}
              precision    recall  f1-score   support

           0       0.94      1.00      0.97     49026
           1       0.00      0.00      0.00      3147

    accuracy                           0.94     52173
   macro avg       0.47      0.50      0.48     52173
weighted avg       0.88      0.94      0.91     52173

{'dtc__max_depth': 3}

In [50]:
from sklearn.ensemble import GradientBoostingClassifier

In [51]:
gbc = GradientBoostingClassifier(learning_rate=0.1)

In [53]:
gbc_p = {"gbc__learning_rate":[1e-1,1e-2,1e-3]}
print(gbc_p)
pipeline = Pipeline([("gbc",gbc)])
getb(pipeline,gbc_p,x_tr,x_te,y_tr,y_te)

{'gbc__learning_rate': [0.1, 0.01, 0.001]}
              precision    recall  f1-score   support

           0       0.94      1.00      0.97     49026
           1       0.00      0.00      0.00      3147

    accuracy                           0.94     52173
   macro avg       0.47      0.50      0.48     52173
weighted avg       0.88      0.94      0.91     52173

{'gbc__learning_rate': 0.01}

In [54]:
from sklearn.ensemble import RandomForestClassifier

In [56]:
rfc = RandomForestClassifier(n_estimators=100)

In [57]:
rfc_p = {"rfc__n_estimators":[100,150,200,250,300]}
print(rfc_p)
pipeline = Pipeline([("rfc",rfc)])
getb(pipeline,rfc_p,x_tr,x_te,y_tr,y_te)

{'rfc__n_estimators': [100, 150, 200, 250, 300]}
              precision    recall  f1-score   support

           0       0.94      1.00      0.97     49026
           1       0.04      0.00      0.00      3147

    accuracy                           0.94     52173
   macro avg       0.49      0.50      0.48     52173
weighted avg       0.89      0.94      0.91     52173

{'rfc__n_estimators': 150}

In [59]:
from xgboost import XGBClassifier

In [64]:
xgb = XGBClassifier()

In [66]:
col = [x for x in d.columns if x not in ['user_id','merchant_id']]
data_sjj = d.loc[:,col]
data_sjj

,label,age_range,gender,action_type_0,action_type_1,action_type_2,action_type_3,action_sum,action_ratio,type_0_ratio,...,us_trans_ratio_cart,us_trans_ratio_favor,user_all_item,all_item_unique,all_cat_unique,all_seller_unique,all_brand_unique,all_time_unique,all_action_unique,time_active
0,0,6.0,0.0,410.0,0.0,34.0,7.0,451.0,-11.710938,0.009048,...,2.312500,-0.551270,451,256,45,109,106,47,3,590
1,0,6.0,0.0,410.0,0.0,34.0,7.0,451.0,-11.710938,0.009048,...,2.312500,2.312500,451,256,45,109,106,47,3,590
2,1,6.0,0.0,410.0,0.0,34.0,7.0,451.0,-11.710938,0.009048,...,4.097656,4.097656,451,256,45,109,106,47,3,590
3,0,6.0,0.0,410.0,0.0,34.0,7.0,451.0,-11.710938,0.009048,...,2.312500,2.312500,451,256,45,109,106,47,3,590
4,0,0.0,0.0,47.0,0.0,7.0,0.0,54.0,-13.835938,-0.030075,...,2.312500,2.312500,54,31,17,20,19,16,2,510
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260859,0,4.0,1.0,107.0,0.0,9.0,1.0,117.0,-13.062500,0.014427,...,3.000000,3.000000,117,49,25,33,32,12,3,191
260860,0,0.0,1.0,162.0,0.0,5.0,31.0,198.0,-12.531250,-0.085388,...,2.312500,-0.861328,198,89,20,38,36,6,3,186
260861,0,0.0,1.0,162.0,0.0,5.0,31.0,198.0,-12.531250,-0.085388,...,2.312500,0.009048,198,89,20,38,36,6,3,186
260862,0,0.0,1.0,162.0,0.0,5.0,31.0,198.0,-12.531250,-0.085388,...,2.312500,2.312500,198,89,20,38,36,6,3,186
260863,0,4.0,2.0,181.0,0.0,9.0,4.0,194.0,-12.554688,0.032471,...,2.312500,2.312500,194,127,29,50,49,23,3,595

In [67]:
import pickle

In [68]:
pickle.dump(data_sjj,open("data_sjj.pkl","wb"))

In [69]:
data_sjjs = pickle.load(open('data_sjj.pkl','rb'))
data_sjjs

,label,age_range,gender,action_type_0,action_type_1,action_type_2,action_type_3,action_sum,action_ratio,type_0_ratio,...,us_trans_ratio_cart,us_trans_ratio_favor,user_all_item,all_item_unique,all_cat_unique,all_seller_unique,all_brand_unique,all_time_unique,all_action_unique,time_active
0,0,6.0,0.0,410.0,0.0,34.0,7.0,451.0,-11.710938,0.009048,...,2.312500,-0.551270,451,256,45,109,106,47,3,590
1,0,6.0,0.0,410.0,0.0,34.0,7.0,451.0,-11.710938,0.009048,...,2.312500,2.312500,451,256,45,109,106,47,3,590
2,1,6.0,0.0,410.0,0.0,34.0,7.0,451.0,-11.710938,0.009048,...,4.097656,4.097656,451,256,45,109,106,47,3,590
3,0,6.0,0.0,410.0,0.0,34.0,7.0,451.0,-11.710938,0.009048,...,2.312500,2.312500,451,256,45,109,106,47,3,590
4,0,0.0,0.0,47.0,0.0,7.0,0.0,54.0,-13.835938,-0.030075,...,2.312500,2.312500,54,31,17,20,19,16,2,510
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260859,0,4.0,1.0,107.0,0.0,9.0,1.0,117.0,-13.062500,0.014427,...,3.000000,3.000000,117,49,25,33,32,12,3,191
260860,0,0.0,1.0,162.0,0.0,5.0,31.0,198.0,-12.531250,-0.085388,...,2.312500,-0.861328,198,89,20,38,36,6,3,186
260861,0,0.0,1.0,162.0,0.0,5.0,31.0,198.0,-12.531250,-0.085388,...,2.312500,0.009048,198,89,20,38,36,6,3,186
260862,0,0.0,1.0,162.0,0.0,5.0,31.0,198.0,-12.531250,-0.085388,...,2.312500,2.312500,198,89,20,38,36,6,3,186
260863,0,4.0,2.0,181.0,0.0,9.0,4.0,194.0,-12.554688,0.032471,...,2.312500,2.312500,194,127,29,50,49,23,3,595