In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings(action = 'ignore')
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

In [3]:
from sklearn.tree import DecisionTreeClassifier

In [4]:
from sklearn.pipeline import Pipeline

In [5]:
ui = pd.read_csv("user_info_format1.csv")
ui

        user_id  age_range  gender
0        376517        6.0     1.0
1        234512        5.0     0.0
2        344532        5.0     0.0
3        186135        5.0     0.0
4         30230        5.0     0.0
...         ...        ...     ...
424165   395814        3.0     1.0
424166   245950        0.0     1.0
424167   208016        NaN     NaN
424168   272535        6.0     1.0
424169    18031        3.0     1.0

[424170 rows x 3 columns]

In [6]:
ul = pd.read_csv("user_log_format1.csv")
ul

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type
0,328862,323294,833,2882,2661.0,829,0
1,328862,844400,1271,2882,2661.0,829,0
2,328862,575153,1271,2882,2661.0,829,0
3,328862,996875,1271,2882,2661.0,829,0
4,328862,1086186,1271,1253,1049.0,829,0
...,...,...,...,...,...,...,...
54925325,208016,107662,898,1346,7995.0,1110,0
54925326,208016,1058313,898,1346,7995.0,1110,0
54925327,208016,449814,898,983,7995.0,1110,0
54925328,208016,634856,898,1346,7995.0,1110,0
54925329,208016,272094,898,1346,7995.0,1111,0

In [7]:
tr = pd.read_csv("train_format1.csv")
tr

        user_id  merchant_id  label
0         34176         3906      0
1         34176          121      0
2         34176         4356      1
3         34176         2217      0
4        230784         4818      0
...         ...          ...    ...
260859   359807         4325      0
260860   294527         3971      0
260861   294527          152      0
260862   294527         2537      0
260863   229247         4140      0

[260864 rows x 3 columns]

In [8]:
te = pd.read_csv("test_format1.csv")
te

        user_id  merchant_id  prob
0        163968         4605   NaN
1        360576         1581   NaN
2         98688         1964   NaN
3         98688         3645   NaN
4        295296         3361   NaN
...         ...          ...   ...
261472   228479         3111   NaN
261473    97919         2341   NaN
261474    97919         3971   NaN
261475    32639         3536   NaN
261476    32639         3319   NaN

[261477 rows x 3 columns]

In [9]:
from collections import Counter

In [10]:
from scipy import stats

In [11]:
tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260864 entries, 0 to 260863
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   user_id      260864 non-null  int64
 1   merchant_id  260864 non-null  int64
 2   label        260864 non-null  int64
dtypes: int64(3)
memory usage: 6.0 MB

In [12]:
te.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261477 entries, 0 to 261476
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   user_id      261477 non-null  int64
 1   merchant_id  261477 non-null  int64
 2   prob         0 non-null       float64
dtypes: float64(1), int64(2)
memory usage: 6.0 MB

In [14]:
ui.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424170 entries, 0 to 424169
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    424170 non-null  int64
 1   age_range  421953 non-null  float64
 2   gender     417734 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 9.7 MB

In [17]:
ul.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54925330 entries, 0 to 54925329
Data columns (total 7 columns):
 #   Column       Non-Null Count     Dtype
---  ------       --------------     -----
 0   user_id      54925330 non-null  int64
 1   item_id      54925330 non-null  int64
 2   cat_id       54925330 non-null  int64
 3   seller_id    54925330 non-null  int64
 4   brand_id     54834315 non-null  float64
 5   time_stamp   54925330 non-null  int64
 6   action_type  54925330 non-null  int64
dtypes: float64(1), int64(6)
memory usage: 2.9 GB

In [18]:
ul.head()

   user_id  item_id  cat_id  seller_id  brand_id  time_stamp  action_type
0   328862   323294     833       2882    2661.0         829            0
1   328862   844400    1271       2882    2661.0         829            0
2   328862   575153    1271       2882    2661.0         829            0
3   328862   996875    1271       2882    2661.0         829            0
4   328862  1086186    1271       1253    1049.0         829            0

In [19]:
ul.isnull().sum()

user_id            0
item_id            0
cat_id             0
seller_id          0
brand_id       91015
time_stamp         0
action_type        0
dtype: int64

In [23]:
a = np.max(ul['user_id'])
a

424170

In [24]:
np.log2(a)

18.694283062345026

In [26]:
ul.memory_usage()

Index                128
user_id        439402640
item_id        439402640
cat_id         439402640
seller_id      439402640
brand_id       439402640
time_stamp     439402640
action_type    439402640
dtype: int64

In [34]:
# ul
# 0. 点击
# 1. 添加到购物车
# 2. 购买
# 3. 添加到收藏夹

In [30]:
[np.log2(np.max(ul[col])) for col in ul.columns]

[18.694283062345026,
 20.08623731880478,
 10.706496018061188,
 12.286268962679781,
 13.049338071751933,
 10.118941072723507,
 1.584962500721156]

In [31]:
ui.isnull().sum()

user_id         0
age_range    2217
gender       6436
dtype: int64

In [35]:
ui['age_range'].value_counts()

3.0    111654
0.0     92914
4.0     79991
2.0     52871
5.0     40777
6.0     35464
7.0      6992
8.0      1266
1.0        24
Name: age_range, dtype: int64

In [32]:
te.isnull().sum()

user_id             0
merchant_id         0
prob           261477
dtype: int64

In [33]:
tr.isnull().sum()

user_id        0
merchant_id    0
label          0
dtype: int64

In [74]:
tr.dtypes

user_id        int64
merchant_id    int64
label          int64
dtype: object

In [92]:
def memory(data):
    import numpy as np
    b = data.memory_usage().sum()
    print(f"压缩前的大小: {data.memory_usage().sum()}")
    types = ['int64','float64']
#     print(f"压缩前的类型: {types}")
    print(f"压缩后的类型: {list(data.dtypes)}")
    for col in data.columns:
        c_type = data[col].dtypes
#         print(c_type)
#         print("______________")
        if c_type in types:
            cmax = data[col].max()
            cmin = data[col].min()
#             print(cmax,cmin)
#             print("______________")
            if str(c_type)[:3] == "int":
#                 print(str(c_type)[:3])
#                 print("_______________")
                if cmax < np.iinfo(np.int8).max:
                    data[col] = data[col].astype(np.int8)
                elif cmax < np.iinfo(np.int16).max:
                    data[col] = data[col].astype(np.int16)
                elif cmax < np.iinfo(np.int16).max:
                    data[col] = data[col].astype(np.int32)
                elif cmax < np.iinfo(np.int16).max:
                    data[col] = data[col].astype(np.int64)
            else:
                if cmax < np.finfo(np.float16).max:
                    data[col] = data[col].astype(np.float16)
                elif cmax < np.finfo(np.float32).max:
                    data[col] = data[col].astype(np.float32)
                elif cmax < np.finfo(np.float64).max:
                    data[col] = data[col].astype(np.float64)
    a = data.memory_usage().sum()
    ccc = list(data.dtypes)
    print("_______________________________________________")
    print(f"压缩后的大小: {data.memory_usage().sum()}")
    print(f"压缩比: {(b-a)/b*100}")
    print(f"压缩后的类型: {ccc}")
    print("")
    print("")

In [93]:
[memory(c) for c in [tr,te,ui,ul]]

压缩前的大小: 2869632
压缩后的类型: [dtype('int64'), dtype('int16'), dtype('int8')]
_______________________________________________
压缩后的大小: 2869632
压缩比: 2869532.0
压缩后的类型: [dtype('int64'), dtype('int16'), dtype('int8')]


压缩前的大小: 4706714
压缩后的类型: [dtype('int64'), dtype('int16'), dtype('float64')]
_______________________________________________
压缩后的大小: 4706714
压缩比: 4706614.0
压缩后的类型: [dtype('int64'), dtype('int16'), dtype('float64')]


压缩前的大小: 5090168
压缩后的类型: [dtype('int64'), dtype('float16'), dtype('float16')]
_______________________________________________
压缩后的大小: 5090168
压缩比: 5090068.0
压缩后的类型: [dtype('int64'), dtype('float16'), dtype('float16')]


压缩前的大小: 1373133378
压缩后的类型: [dtype('int64'), dtype('int64'), dtype('int16'), dtype('int16'), dtype('float16'), dtype('int16'), dtype('int8')]
_______________________________________________
压缩后的大小: 1373133378
压缩比: 1373133278.0
压缩后的类型: [dtype('int64'), dtype('int64'), dtype('int16'), dtype('int16'), dtype('float16'), dtype('int16'), dtype('int8')]

[None, None, None, None]

In [98]:
tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260864 entries, 0 to 260863
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   user_id      260864 non-null  int64
 1   merchant_id  260864 non-null  int16
 2   label        260864 non-null  int8
dtypes: int16(1), int64(1), int8(1)
memory usage: 2.7 MB

In [99]:
te.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261477 entries, 0 to 261476
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   user_id      261477 non-null  int64
 1   merchant_id  261477 non-null  int16
 2   prob         0 non-null       float64
dtypes: float64(1), int16(1), int64(1)
memory usage: 4.5 MB

In [100]:
ui.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424170 entries, 0 to 424169
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    424170 non-null  int64
 1   age_range  421953 non-null  float16
 2   gender     417734 non-null  float16
dtypes: float16(2), int64(1)
memory usage: 4.9 MB

In [101]:
ul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54925330 entries, 0 to 54925329
Data columns (total 7 columns):
 #   Column       Dtype
---  ------       -----
 0   user_id      int64
 1   item_id      int64
 2   cat_id       int16
 3   seller_id    int16
 4   brand_id     float16
 5   time_stamp   int16
 6   action_type  int8
dtypes: float16(1), int16(3), int64(2), int8(1)
memory usage: 1.3 GB

In [103]:
import pickle # 序列化二进制磁盘

In [104]:
pickle.dump(ul,open('ul.pkl','wb'))
pickle.dump(ui,open('ui.pkl','wb'))
pickle.dump(te,open('te.pkl','wb'))
pickle.dump(tr,open('tr.pkl','wb'))

In [105]:
# 内存回收机制

del tr,te,ui,ul
import gc
gc.collect()

1775