In [1]:
import numpy as np
import pandas as pd
from pyecharts.charts import Bar
from pyecharts.charts import Line
from pyecharts.charts import Map
from pyecharts.charts import Pie
from pyecharts.charts import Grid
from pyecharts.charts import Timeline
from pyecharts.globals import ThemeType
from pyecharts import options as opts

In [2]:
d = pd.read_excel('订单明细.xlsx')
d.head()

        下单日期  销售    团队    金额 购买产品类别  数量    单价     订单编号   客户ID 客户省份
0 2017-01-01  张三  销售1部  4050    自行车   2  2025  SO45266  29955   广东
1 2017-01-01  张三  销售1部  6120    自行车   3  2040  SO45266  29955   广东
2 2017-01-01  张三  销售1部  4050    自行车   2  2025  SO45266  29955   广东
3 2017-01-01  张三  销售1部   715     配件   1   715  SO45266  29955   广东
4 2017-01-01  张三  销售1部  4050    自行车   2  2025  SO45266  29955   广东

In [3]:
d.isnull().sum()

下单日期      0
销售        0
团队        0
金额        0
购买产品类别    0
数量        0
单价        0
订单编号      0
客户ID      0
客户省份      0
dtype: int64

In [4]:
d.dtypes

下单日期      datetime64[ns]
销售                object
团队                object
金额                 int64
购买产品类别            object
数量                 int64
单价                 int64
订单编号              object
客户ID               int64
客户省份              object
dtype: object

In [5]:
d['month'] =  d['下单日期'].dt.month
d.head()

        下单日期  销售    团队    金额 购买产品类别  数量    单价     订单编号   客户ID 客户省份  month
0 2017-01-01  张三  销售1部  4050    自行车   2  2025  SO45266  29955   广东      1
1 2017-01-01  张三  销售1部  6120    自行车   3  2040  SO45266  29955   广东      1
2 2017-01-01  张三  销售1部  4050    自行车   2  2025  SO45266  29955   广东      1
3 2017-01-01  张三  销售1部   715     配件   1   715  SO45266  29955   广东      1
4 2017-01-01  张三  销售1部  4050    自行车   2  2025  SO45266  29955   广东      1

In [6]:
da_line = d.groupby(by = ['month'],as_index = False)['金额'].sum()
da_line

    month       金额
0       1  3970328
1       2  1475406
2       3  2976158
3       4  1769989
4       5  3092393
5       6  4113755
6       7  3427028
7       8  2177541
8       9  3455153
9      10  2546983
10     11  1873731
11     12  2830593

In [7]:
timelist = da_line['month'].apply(lambda x:str(x)+'月')
timelist = list(timelist)
timelist

['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']

In [8]:
def get(month: str):
    # 条状图
    maxnum = d.groupby(by = ['month'])['金额'].sum().max()
    minnum = d.groupby(by = ['month'])['金额'].sum().min()
    da_line_y = list(da_line['金额'])
    da_bar = d.groupby(by = ['month','销售'],as_index = False)['金额'].sum()
    data = da_bar[da_bar['month'] == int(month[0])]
#     return data 
#     return list(data['销售'])
#     return list(data['金额'])
    x = list(data['销售'])
    x
    y = list(data['金额'])
    y
    bar = (
            Bar()
            .add_xaxis(xaxis_data = x)
            .add_yaxis('金额',y,label_opts = opts.LabelOpts(is_show = True,position = 'right',formatter = "{b}: {c}"))
            .reversal_axis()
            .set_global_opts(
                xaxis_opts=opts.AxisOpts(max_=maxnum,axislabel_opts=opts.LabelOpts(is_show = False)),
#                 title_opts = opts.TitleOpts(title = str(month[0]),subtitle = '每个销售'),
#                 xaxis_opts = opts.AxisOpts(axislabel_opts = {'rotate':90}),
                legend_opts = opts.LegendOpts(is_show = False),
                yaxis_opts=opts.AxisOpts(axislabel_opts=opts.AxisOpts(is_show = False)),
                visualmap_opts=opts.VisualMapOpts(
                is_calculable=True,
                dimension=0,
                pos_left='10',
                pos_top='top',
                range_text=['high','low'],
                range_color=['orange','red','yellow'],
                min_ = minnum,
                max_ = maxnum
                                    )
            )
        )
#     return bar.render_notebook()

    # 折线图
    res = []
    i = 0
    for xx in timelist:
        if xx == month:
            res.append(da_line_y[i])
        else:
            res.append('')
        i += 1
    line = (
        Line()
        .add_xaxis(timelist)
        .add_yaxis(series_name = "",
                   y_axis = da_line_y)
        .add_yaxis(series_name = "",
                   y_axis = res,
                  markpoint_opts = opts.MarkPointOpts(data = [opts.MarkPointItem(type_ = 'max')]))
        .set_global_opts(
#                 title_opts = opts.TitleOpts(title = str(month),subtitle = '每个销售'),
                xaxis_opts = opts.AxisOpts(axislabel_opts = {'rotate':90}),
                legend_opts = opts.LegendOpts(is_show = False)
            )
        .set_series_opts(
            label_opts = opts.LabelOpts(is_show = False)
        )
    )
#     return line.render_notebook()

    # 南丁格尔图---饼图
    da_pie = d.groupby(by = ['购买产品类别','month'],as_index = False)['金额'].sum()
    da_pie
    pie_x = list(da_pie[da_pie['month'] == int(month[0])]['购买产品类别'])
    pie_y = list(da_pie[da_pie['month'] == int(month[0])]['金额'])
    r = [p for p in zip(pie_x,pie_y)]
    pie = (Pie()
           .add(
               '南丁格尔图', #提示框内容
               r,
               radius=['15%','30%'],# 半径
               center=['80%','80%'],
               rosetype='radius' # 扇片大小
           )
           .set_global_opts(
#                title_opts = opts.TitleOpts(title = str(month[0]),subtitle = '每个销售'),
               legend_opts = opts.LegendOpts(is_show = False)
           )
           .set_series_opts(
               label_opts = opts.LabelOpts(formatter = "{b}: {d}%")# a:提示框的内容,b:数据系列的名字,c:数据,d:当前占全部的百分比
           )
    )
#     return pie.render_notebook()

    # 地图   
    da_map = d.groupby(by = ['客户省份','month'],as_index = False)['金额'].sum()
    map_x = list(da_map[da_map['month'] == 5]['客户省份'])
    map_y = list(da_map[da_map['month'] == 5]['金额'])
    m = [a for a in zip(map_x,map_y)]
    mp = (
        Map()
        .add(
            series_name = "",
            data_pair = m,
            center = [119.5,34.5],
            is_map_symbol_show = False
        )
        .set_global_opts(
            title_opts = opts.TitleOpts(title = month + '各省份销售总金额',
                                        pos_left = 'center',
                                        pos_top = 'top',
                                        title_textstyle_opts = opts.TextStyleOpts(font_size = 30)),
            visualmap_opts = opts.VisualMapOpts(
                range_text = ['high','low'],
                max_ = maxnum,
                min_ = minnum,
                dimension = 0
            )
        )
    )
#     return mp.render_notebook()

    grid = (
        Grid()
        .add(
            bar,
            grid_opts = opts.GridOpts(pos_left='10',pos_right='45%',pos_top='50%',pos_bottom='5')
        )
        .add(
            line,
            grid_opts = opts.GridOpts(pos_left='65%',pos_right='80',pos_top='10%',pos_bottom='50%')
        )
        .add(
            pie,
            grid_opts = opts.GridOpts(pos_left='10%',pos_top='80%')
        )
        .add(
            mp,
            grid_opts = opts.GridOpts()
        )
    )
#     return grid.render_notebook()
    return grid

In [9]:
if __name__ == "__main__":
    timeline = Timeline(
        init_opts = opts.InitOpts(width = "1915px",height = '900px',theme = ThemeType.DARK)
    )
    for y in timelist:
        g = get(y)
        timeline.add(g,time_point = str(y))
    timeline.add_schema(
        orient='vertical',
        is_auto_play=True,
        is_inverse=True,
        play_interval=500,
        pos_left='null',
        pos_right='5',
        pos_top='20',
        pos_bottom='20',
        width='60',
        label_opts=opts.LabelOpts(is_show=True, color='#fff')
    )
timeline.render('销售明细.html')
#     timeline.render_notebook()

'C:\\Users\\JZY\\bf\\Desktop\\135\\pycharm高级\\jupyter notebook\\jupyter-notebook\\pandas\\pyecharts\\销售明细.html'

In [ ]:
# da_pie = d.groupby(by = ['购买产品类别','month'],as_index = False)['金额'].sum()
# da_pie
# pie_x = list(da_pie[da_pie['month'] == 1]['购买产品类别'])
# pie_x
# pie_y = list(da_pie[da_pie['month'] == 1]['金额'])
# pie_y
# r = [p for p in zip(pie_x,pie_y)]
# r

In [ ]:
# da_map = d.groupby(by = ['客户省份','month'],as_index = False)['金额'].sum()
# da_map

In [ ]:
# map_x = list(da_map[da_map['month'] == 1]['客户省份'])
# map_x
# map_y = list(da_map[da_map['month'] == 1]['金额'])
# map_y
# m = [a for a in zip(map_x,map_y)]
# m

In [ ]:
# da_map = d.groupby(by = ['客户省份','month'],as_index = False)['金额'].sum()
# map_x = list(da_map[da_map['month'] == 5]['客户省份'])
# map_y = list(da_map[da_map['month'] == 5]['金额'])
# m = [a for a in zip(map_x,map_y)]
# m

In [ ]:
# pie_x = list(da_pie[da_pie['month'] == 1]['购买产品类别'])
# pie_y = list(da_pie[da_pie['month'] == 1]['金额'])
# r = [p for p in zip(pie_x,pie_y)]
# pie = (Pie()
#        .add(
#            '南丁格尔图', #提示框内容
#            r,
#            radius=['30%','60%'],# 半径
#            rosetype='radius' # 扇片大小
#        )
#        .set_global_opts(
#            title_opts = opts.TitleOpts(title = '我是主标题',subtitle = '我是副标题')
#        )
#        .set_series_opts(
#            label_opts = opts.LabelOpts(formatter = "{b}: {d}%")# a:提示框的内容,b:数据系列的名字,c:数据,d:当前占全部的百分比
#        )
# )
# pie.render_notebook()

In [ ]:
# maxnum = d.groupby(by = ['month'])['金额'].sum().max()
# minnum = d.groupby(by = ['month'])['金额'].sum().min()

In [ ]:
# get('6月')

In [ ]:
# da = d.groupby(by = ['销售'])['金额'].sum()
# da

In [ ]:
# da_x = list(da.index)
# da_x

In [ ]:
# da_y = list(da.values)
# da_y

In [ ]:
# da_bar = d.groupby(by = ['month','销售'],as_index = False)['金额'].sum()
# da_bar

In [ ]:
# da_bar[da_bar['month'] == 1]

In [ ]:
# da_line_y = list(da_line['金额'])
# da_line_y

In [ ]:
# da_bar = d.groupby(by = ['month','销售'],as_index = False)['金额'].sum()
# data = da_bar[da_bar['month'] == 1]

In [ ]:
# x = list(data['销售'])
# x
# y = list(data['金额'])
# y
# bar = (
#         Bar()
#         .add_xaxis(x)
#         .add_yaxis('金额',y)
#         .set_global_opts(
#             title_opts = opts.TitleOpts(title = str(1)+'月',subtitle = '每个销售'),
#             xaxis_opts = opts.AxisOpts(axislabel_opts = {'rotate':90})
#         )
#     )
# bar.render_notebook()