In [4]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings(action="ignore")

# 第一种列表创建Series

In [5]:
s0 = pd.Series([4,7,-5,3],dtype = np.int32)
s1 = pd.Series([4,7,-5,3],dtype = np.float64)
print(s0)
print(s1)

0    4
1    7
2   -5
3    3
dtype: int32
0    4.0
1    7.0
2   -5.0
3    3.0
dtype: float64

In [6]:
s1.index # 索引---外显

RangeIndex(start=0, stop=4, step=1)

In [7]:
s1.values # 数据

array([ 4.,  7., -5.,  3.])

In [15]:
s = pd.Series([[1,2,3],[4,5,6]],dtype=np.float32)
s

0    (1, 2, 3)
1    (4, 5, 6)
dtype: object

In [16]:
s.index

RangeIndex(start=0, stop=2, step=1)

In [17]:
s.values

array([(1, 2, 3), (4, 5, 6)], dtype=object)

In [18]:
type(s)

pandas.core.series.Series

In [25]:
ss = pd.Series([1,2,3],dtype = np.float32,index = ['a','b','c'])
ss

a    1.0
b    2.0
c    3.0
dtype: float32

In [26]:
ss.index

Index(['a', 'b', 'c'], dtype='object')

In [27]:
ss["a"]

1.0

In [28]:
ss[["a"]]

a    1.0
dtype: float32

In [29]:
ss[['c','a']]

c    3.0
a    1.0
dtype: float32

# 第二种字典创建Series

In [31]:
sdata = {'a':100,
         'b':200,
         'c':300}
s = pd.Series(sdata)
s

a    100
b    200
c    300
dtype: int64

In [32]:
type(s)

pandas.core.series.Series

In [33]:
s.index

Index(['a', 'b', 'c'], dtype='object')

In [34]:
s.values

array([100, 200, 300], dtype=int64)

In [35]:
states = ['a','b','c','d']
s4 = pd.Series(sdata,index = states)
s4

a    100.0
b    200.0
c    300.0
d      NaN
dtype: float64

In [36]:
pd.isnull(s4)

a    False
b    False
c    False
d     True
dtype: bool

In [37]:
s4.isnull() # 判断空值二种

a    False
b    False
c    False
d     True
dtype: bool

In [38]:
s4['a'] = np.nan # 赋空值

In [39]:
s4

a      NaN
b    200.0
c    300.0
d      NaN
dtype: float64

In [40]:
np.isnan(s4) # 判断空值一种

a     True
b    False
c    False
d     True
dtype: bool

In [42]:
s4[s4.isnull() == False] # 找到不为空的数据

b    200.0
c    300.0
dtype: float64

In [44]:
s4[s4.isnull()] # 找到为空的数据

a   NaN
d   NaN
dtype: float64

In [47]:
s4[np.isnan(s4)] # 找到为空的数据

a   NaN
d   NaN
dtype: float64

In [52]:
s4[s4.index]

a      NaN
b    200.0
c    300.0
d      NaN
dtype: float64

In [55]:
s4

a      NaN
b    200.0
c    300.0
d      NaN
dtype: float64

In [56]:
for i,v in s4.items():
    print(i,v)

a nan
b 200.0
c 300.0
d nan

In [57]:
for i in s4.index:
    print(i,s4[i])

a nan
b 200.0
c 300.0
d nan

In [59]:
for i in enumerate(s4):
    print(i)

(0, nan)
(1, 200.0)
(2, 300.0)
(3, nan)