In [1]:
from datetime import datetime

In [2]:
from dateutil import parser

In [3]:
import pandas as pd

In [4]:
import warnings

In [5]:
warnings.filterwarnings(action = 'ignore')

In [6]:
t = datetime(year = 2222,month = 2,day = 2)

In [7]:
t

datetime.datetime(2222, 2, 2, 0, 0)

In [8]:
type(t)

datetime.datetime

In [9]:
pd.to_datetime('2222-2-2')

Timestamp('2222-02-02 00:00:00')

In [10]:
datetime.today()

datetime.datetime(2020, 11, 4, 0, 5, 21, 657138)

In [11]:
year = pd.datetime.today()

In [12]:
year.date()

datetime.date(2020, 11, 4)

In [13]:
str(year.date())

'2020-11-04'

In [14]:
pd.to_datetime(str(year.date()))

Timestamp('2020-11-04 00:00:00')

In [15]:
pd.datetime.today().year

2020

In [16]:
pd.datetime.today().date()

datetime.date(2020, 11, 4)

In [17]:
pd.datetime.today().month

11

In [19]:
date = parser.parse("4th of july, 2222")

In [20]:
date

datetime.datetime(2222, 7, 4, 0, 0)

In [21]:
parser.parse('2222-3-22')

datetime.datetime(2222, 3, 22, 0, 0)

In [22]:
parser.parse('2222/2/2')

datetime.datetime(2222, 2, 2, 0, 0)

In [23]:
parser.parse('2222.2.2')

datetime.datetime(2222, 2, 2, 0, 0)

In [24]:
parser.parse('7.3.22')

datetime.datetime(2022, 7, 3, 0, 0)

In [25]:
parser.parse('3.3')

datetime.datetime(2020, 11, 3, 0, 0)

In [26]:
d = parser.parse('2019-12-06 00:00:00') - parser.parse('2019-12-04 12:12:12')

In [27]:
d

datetime.timedelta(days=1, seconds=42468)

In [28]:
3600 * 24

86400

In [29]:
d.days

1

In [30]:
d.seconds

42468

In [31]:
import numpy as np

In [32]:
# 返回2个时间差是多少个小时
def get_hours(start_date,end_date):
    d = parser.parse(end_date) - \
    parser.parse(start_date)
    hours = np.round(d.days * 24 + \
                     d.seconds / 3600,2)
    return hours

In [33]:
get_hours('2019-12-04 12:12:12', \
          '2019-12-06 00:14:45')

36.04

In [34]:
# 返回2个时间差是多少个小时
def hours(start_date,end_date):
    day = parser.parse(end_date) - \
        parser.parse(start_date)
    hour = np.round(day.days * 24 + \
                    day.seconds /3600,2)
    return hour

In [35]:
hours('2019-12-04 12:12:12', \
      '2019-12-06 00:14:45')

36.04

In [36]:
parser.parse('9999.2.11')

datetime.datetime(9999, 2, 11, 0, 0)

parser.parse(
    timestr
)

In [37]:
date = np.array('2222-02-02',dtype = np.datetime64)

In [38]:
date

array('2222-02-02', dtype='datetime64[D]')

In [39]:
np.arange(10) + date

array(['2222-02-02', '2222-02-03', '2222-02-04', '2222-02-05',
       '2222-02-06', '2222-02-07', '2222-02-08', '2222-02-09',
       '2222-02-10', '2222-02-11'], dtype='datetime64[D]')

In [40]:
date = pd.to_datetime('2222-02-02')

In [41]:
date

Timestamp('2222-02-02 00:00:00')

In [42]:
date.strftime('%B')
# 时间转化为固定格式

'February'

In [43]:
# 固定格式转化为时间
date_str = '2012'
datetime.strptime(date_str,"%Y")

datetime.datetime(2012, 1, 1, 0, 0)

In [44]:
date.strftime('%Y')

'2222'

In [45]:
date.strftime('%M')

'00'

In [46]:
date.strftime('%d')

'02'

In [47]:
date.strftime('%H')

'00'

In [48]:
pd.to_timedelta(np.arange(12),"H")

TimedeltaIndex(['00:00:00', '01:00:00', '02:00:00', '03:00:00', '04:00:00',
                '05:00:00', '06:00:00', '07:00:00', '08:00:00', '09:00:00',
                '10:00:00', '11:00:00'],
               dtype='timedelta64[ns]', freq=None)

In [49]:
pd.to_timedelta(np.arange(12),"D")

TimedeltaIndex([ '0 days',  '1 days',  '2 days',  '3 days',  '4 days',
                 '5 days',  '6 days',  '7 days',  '8 days',  '9 days',
                '10 days', '11 days'],
               dtype='timedelta64[ns]', freq=None)

In [50]:
date + pd.to_timedelta(np.arange(12),"H")

DatetimeIndex(['2222-02-02 00:00:00', '2222-02-02 01:00:00',
               '2222-02-02 02:00:00', '2222-02-02 03:00:00',
               '2222-02-02 04:00:00', '2222-02-02 05:00:00',
               '2222-02-02 06:00:00', '2222-02-02 07:00:00',
               '2222-02-02 08:00:00', '2222-02-02 09:00:00',
               '2222-02-02 10:00:00', '2222-02-02 11:00:00'],
              dtype='datetime64[ns]', freq=None)

In [51]:
d = pd.to_datetime([datetime(2222,2,2),
                    '4th of january, 2020',
                    '2020.2.3'])

In [52]:
d

DatetimeIndex(['2222-02-02', '2020-01-04', '2020-02-03'], dtype='datetime64[ns]', freq=None)

In [53]:
pd.date_range('2020-01-01','2020-01-10')

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [54]:
pd.date_range('2020-01-01',periods = 10)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [55]:
pd.date_range('2020-01-01',periods = 10,freq = "H")

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 01:00:00',
               '2020-01-01 02:00:00', '2020-01-01 03:00:00',
               '2020-01-01 04:00:00', '2020-01-01 05:00:00',
               '2020-01-01 06:00:00', '2020-01-01 07:00:00',
               '2020-01-01 08:00:00', '2020-01-01 09:00:00'],
              dtype='datetime64[ns]', freq='H')

In [56]:
pd.date_range('2020-01-01',periods = 10,freq = "2H")

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 02:00:00',
               '2020-01-01 04:00:00', '2020-01-01 06:00:00',
               '2020-01-01 08:00:00', '2020-01-01 10:00:00',
               '2020-01-01 12:00:00', '2020-01-01 14:00:00',
               '2020-01-01 16:00:00', '2020-01-01 18:00:00'],
              dtype='datetime64[ns]', freq='2H')

In [57]:
pd.date_range('2020-01-01', \
              '2020-01-10', \
              periods = 10)
# periods  -->生成时间的个数

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq=None)

In [58]:
pd.date_range('2222-2-2 00:00:00', \
              '2222-2-2 06:00:00', \
              freq = "H")
# freq  --> 生成时间的间隔

DatetimeIndex(['2222-02-02 00:00:00', '2222-02-02 01:00:00',
               '2222-02-02 02:00:00', '2222-02-02 03:00:00',
               '2222-02-02 04:00:00', '2222-02-02 05:00:00',
               '2222-02-02 06:00:00'],
              dtype='datetime64[ns]', freq='H')