# Iris(鸢尾花数据集)

In [1]:
import pandas as pd
import numpy as np

### 从下述地址加载数据并用变量接收

In [2]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
#用pd.read_csv()方法读取数据
iris = pd.read_csv(url)
# 查看数据的前5行
iris.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

### 数据集没有列名,给数据添加列名

In [3]:
#我们读取的是鸢尾花数据集,包含4列特征值和1列标签值即鸢尾花的种类
# 1. sepal_length (in cm) 花瓣长度
# 2. sepal_width (in cm) 花瓣宽度
# 3. petal_length (in cm) 花萼长度
# 4. petal_width (in cm) 花萼宽度
# 5. class 类别

#请按照上述英文或者中文给数据集添加列名

In [4]:
# columns = ["sepal_length",
#            "sepal_width",
#            "petal_length",
#            "petal_width",
#            "class"]
# columns

In [5]:
columns = ["花瓣长度",
           "花瓣宽度",
           "花萼长度",
           "花萼宽度",
           "类别"]
columns

['花瓣长度', '花瓣宽度', '花萼长度', '花萼宽度', '类别']

In [6]:
iris.columns = columns

In [7]:
iris.columns

Index(['花瓣长度', '花瓣宽度', '花萼长度', '花萼宽度', '类别'], dtype='object')

In [8]:
iris

     花瓣长度  花瓣宽度  花萼长度  花萼宽度              类别
0     4.9   3.0   1.4   0.2     Iris-setosa
1     4.7   3.2   1.3   0.2     Iris-setosa
2     4.6   3.1   1.5   0.2     Iris-setosa
3     5.0   3.6   1.4   0.2     Iris-setosa
4     5.4   3.9   1.7   0.4     Iris-setosa
..    ...   ...   ...   ...             ...
144   6.7   3.0   5.2   2.3  Iris-virginica
145   6.3   2.5   5.0   1.9  Iris-virginica
146   6.5   3.0   5.2   2.0  Iris-virginica
147   6.2   3.4   5.4   2.3  Iris-virginica
148   5.9   3.0   5.1   1.8  Iris-virginica

[149 rows x 5 columns]

### 判断数据有无空值

In [9]:
pd.isnull(iris.sum())

花瓣长度    False
花瓣宽度    False
花萼长度    False
花萼宽度    False
类别      False
dtype: bool

In [6]:
#hint:空值用isnull()方法判断,用sum()方法计算每列空值个数的和,注意axis的用法

花瓣长度    False
花瓣宽度    False
花萼长度    False
花萼宽度    False
类别      False
dtype: bool

In [12]:
pd.isnull(iris).sum()

花瓣长度    0
花瓣宽度    0
花萼长度    0
花萼宽度    0
类别      0
dtype: int64

花瓣长度    0
花瓣宽度    0
花萼长度    0
花萼宽度    0
类别      0
dtype: int64

###  把花萼长度列的第11行到30行的值设为空

In [21]:
import warnings
warnings.filterwarnings(action='ignore')
iris['花萼长度'][11:31] = np.nan

In [22]:
iris.head(20)

    花瓣长度  花瓣宽度  花萼长度  花萼宽度           类别
0    4.9   3.0   1.4   0.2  Iris-setosa
1    4.7   3.2   1.3   0.2  Iris-setosa
2    4.6   3.1   1.5   0.2  Iris-setosa
3    5.0   3.6   1.4   0.2  Iris-setosa
4    5.4   3.9   1.7   0.4  Iris-setosa
5    4.6   3.4   1.4   0.3  Iris-setosa
6    5.0   3.4   1.5   0.2  Iris-setosa
7    4.4   2.9   1.4   0.2  Iris-setosa
8    4.9   3.1   1.5   0.1  Iris-setosa
9    5.4   3.7   1.5   0.2  Iris-setosa
10   4.8   3.4   1.6   0.2  Iris-setosa
11   4.8   3.0   NaN   0.1  Iris-setosa
12   4.3   3.0   NaN   0.1  Iris-setosa
13   5.8   4.0   NaN   0.2  Iris-setosa
14   5.7   4.4   NaN   0.4  Iris-setosa
15   5.4   3.9   NaN   0.4  Iris-setosa
16   5.1   3.5   NaN   0.3  Iris-setosa
17   5.7   3.8   NaN   0.3  Iris-setosa
18   5.1   3.8   NaN   0.3  Iris-setosa
19   5.4   3.4   NaN   0.2  Iris-setosa

In [9]:
# 把花萼长度列的第11行到30行的值设为空

# 显示前20行数据

    花瓣长度  花瓣宽度  花萼长度  花萼宽度           类别
0    4.9   3.0   1.4   0.2  Iris-setosa
1    4.7   3.2   1.3   0.2  Iris-setosa
2    4.6   3.1   1.5   0.2  Iris-setosa
3    5.0   3.6   1.4   0.2  Iris-setosa
4    5.4   3.9   1.7   0.4  Iris-setosa
5    4.6   3.4   1.4   0.3  Iris-setosa
6    5.0   3.4   1.5   0.2  Iris-setosa
7    4.4   2.9   1.4   0.2  Iris-setosa
8    4.9   3.1   1.5   0.1  Iris-setosa
9    5.4   3.7   1.5   0.2  Iris-setosa
10   4.8   3.4   NaN   0.2  Iris-setosa
11   4.8   3.0   NaN   0.1  Iris-setosa
12   4.3   3.0   NaN   0.1  Iris-setosa
13   5.8   4.0   NaN   0.2  Iris-setosa
14   5.7   4.4   NaN   0.4  Iris-setosa
15   5.4   3.9   NaN   0.4  Iris-setosa
16   5.1   3.5   NaN   0.3  Iris-setosa
17   5.7   3.8   NaN   0.3  Iris-setosa
18   5.1   3.8   NaN   0.3  Iris-setosa
19   5.4   3.4   NaN   0.2  Iris-setosa

### 把空值填充为1

In [26]:
iris.fillna(1,inplace = True)
iris.head(20)

    花瓣长度  花瓣宽度  花萼长度  花萼宽度           类别
0    4.9   3.0   1.4   0.2  Iris-setosa
1    4.7   3.2   1.3   0.2  Iris-setosa
2    4.6   3.1   1.5   0.2  Iris-setosa
3    5.0   3.6   1.4   0.2  Iris-setosa
4    5.4   3.9   1.7   0.4  Iris-setosa
5    4.6   3.4   1.4   0.3  Iris-setosa
6    5.0   3.4   1.5   0.2  Iris-setosa
7    4.4   2.9   1.4   0.2  Iris-setosa
8    4.9   3.1   1.5   0.1  Iris-setosa
9    5.4   3.7   1.5   0.2  Iris-setosa
10   4.8   3.4   1.6   0.2  Iris-setosa
11   4.8   3.0   1.0   0.1  Iris-setosa
12   4.3   3.0   1.0   0.1  Iris-setosa
13   5.8   4.0   1.0   0.2  Iris-setosa
14   5.7   4.4   1.0   0.4  Iris-setosa
15   5.4   3.9   1.0   0.4  Iris-setosa
16   5.1   3.5   1.0   0.3  Iris-setosa
17   5.7   3.8   1.0   0.3  Iris-setosa
18   5.1   3.8   1.0   0.3  Iris-setosa
19   5.4   3.4   1.0   0.2  Iris-setosa

In [11]:
# 用fillna()方法填充空值,用shift+tab查看fillna()如何使用

     花瓣长度  花瓣宽度  花萼长度  花萼宽度              类别
0     4.9   3.0   1.4   0.2     Iris-setosa
1     4.7   3.2   1.3   0.2     Iris-setosa
2     4.6   3.1   1.5   0.2     Iris-setosa
3     5.0   3.6   1.4   0.2     Iris-setosa
4     5.4   3.9   1.7   0.4     Iris-setosa
5     4.6   3.4   1.4   0.3     Iris-setosa
6     5.0   3.4   1.5   0.2     Iris-setosa
7     4.4   2.9   1.4   0.2     Iris-setosa
8     4.9   3.1   1.5   0.1     Iris-setosa
9     5.4   3.7   1.5   0.2     Iris-setosa
10    4.8   3.4   1.0   0.2     Iris-setosa
11    4.8   3.0   1.0   0.1     Iris-setosa
12    4.3   3.0   1.0   0.1     Iris-setosa
13    5.8   4.0   1.0   0.2     Iris-setosa
14    5.7   4.4   1.0   0.4     Iris-setosa
15    5.4   3.9   1.0   0.4     Iris-setosa
16    5.1   3.5   1.0   0.3     Iris-setosa
17    5.7   3.8   1.0   0.3     Iris-setosa
18    5.1   3.8   1.0   0.3     Iris-setosa
19    5.4   3.4   1.0   0.2     Iris-setosa
20    5.1   3.7   1.0   0.4     Iris-setosa
21    4.6   3.6   1.0   0.2     Iris-setosa
22    5.1   3.3   1.0   0.5     Iris-setosa
23    4.8   3.4   1.0   0.2     Iris-setosa
24    5.0   3.0   1.0   0.2     Iris-setosa
25    5.0   3.4   1.0   0.4     Iris-setosa
26    5.2   3.5   1.0   0.2     Iris-setosa
27    5.2   3.4   1.0   0.2     Iris-setosa
28    4.7   3.2   1.0   0.2     Iris-setosa
29    4.8   3.1   1.0   0.2     Iris-setosa
..    ...   ...   ...   ...             ...
119   6.9   3.2   5.7   2.3  Iris-virginica
120   5.6   2.8   4.9   2.0  Iris-virginica
121   7.7   2.8   6.7   2.0  Iris-virginica
122   6.3   2.7   4.9   1.8  Iris-virginica
123   6.7   3.3   5.7   2.1  Iris-virginica
124   7.2   3.2   6.0   1.8  Iris-virginica
125   6.2   2.8   4.8   1.8  Iris-virginica
126   6.1   3.0   4.9   1.8  Iris-virginica
127   6.4   2.8   5.6   2.1  Iris-virginica
128   7.2   3.0   5.8   1.6  Iris-virginica
129   7.4   2.8   6.1   1.9  Iris-virginica
130   7.9   3.8   6.4   2.0  Iris-virginica
131   6.4   2.8   5.6   2.2  Iris-virginica
132   6.3   2.8   5.1   1.5  Iris-virginica
133   6.1   2.6   5.6   1.4  Iris-virginica
134   7.7   3.0   6.1   2.3  Iris-virginica
135   6.3   3.4   5.6   2.4  Iris-virginica
136   6.4   3.1   5.5   1.8  Iris-virginica
137   6.0   3.0   4.8   1.8  Iris-virginica
138   6.9   3.1   5.4   2.1  Iris-virginica
139   6.7   3.1   5.6   2.4  Iris-virginica
140   6.9   3.1   5.1   2.3  Iris-virginica
141   5.8   2.7   5.1   1.9  Iris-virginica
142   6.8   3.2   5.9   2.3  Iris-virginica
143   6.7   3.3   5.7   2.5  Iris-virginica
144   6.7   3.0   5.2   2.3  Iris-virginica
145   6.3   2.5   5.0   1.9  Iris-virginica
146   6.5   3.0   5.2   2.0  Iris-virginica
147   6.2   3.4   5.4   2.3  Iris-virginica
148   5.9   3.0   5.1   1.8  Iris-virginica

[149 rows x 5 columns]

### 把类别列删除

In [27]:
iris.drop(labels = '类别',axis = 1)

     花瓣长度  花瓣宽度  花萼长度  花萼宽度
0     4.9   3.0   1.4   0.2
1     4.7   3.2   1.3   0.2
2     4.6   3.1   1.5   0.2
3     5.0   3.6   1.4   0.2
4     5.4   3.9   1.7   0.4
..    ...   ...   ...   ...
144   6.7   3.0   5.2   2.3
145   6.3   2.5   5.0   1.9
146   6.5   3.0   5.2   2.0
147   6.2   3.4   5.4   2.3
148   5.9   3.0   5.1   1.8

[149 rows x 4 columns]

In [28]:
del iris['类别']

In [29]:
iris

     花瓣长度  花瓣宽度  花萼长度  花萼宽度
0     4.9   3.0   1.4   0.2
1     4.7   3.2   1.3   0.2
2     4.6   3.1   1.5   0.2
3     5.0   3.6   1.4   0.2
4     5.4   3.9   1.7   0.4
..    ...   ...   ...   ...
144   6.7   3.0   5.2   2.3
145   6.3   2.5   5.0   1.9
146   6.5   3.0   5.2   2.0
147   6.2   3.4   5.4   2.3
148   5.9   3.0   5.1   1.8

[149 rows x 4 columns]

In [15]:
#第一种删除方法,不删除原数据

#第二种方法,删除原数据
# del iris["类别"]
#查看数据

   花瓣长度  花瓣宽度  花萼长度  花萼宽度
0   4.9   3.0   1.4   0.2
1   4.7   3.2   1.3   0.2
2   4.6   3.1   1.5   0.2
3   5.0   3.6   1.4   0.2
4   5.4   3.9   1.7   0.4

### 把前三行设为空值

In [31]:
iris[0:3] = np.nan
iris.head(5)

   花瓣长度  花瓣宽度  花萼长度  花萼宽度
0   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN   NaN
2   NaN   NaN   NaN   NaN
3   5.0   3.6   1.4   0.2
4   5.4   3.9   1.7   0.4

   花瓣长度  花瓣宽度  花萼长度  花萼宽度
0   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN   NaN
2   NaN   NaN   NaN   NaN
3   5.0   3.6   1.4   0.2
4   5.4   3.9   1.7   0.4

### 删除含有空值的行

In [34]:
iris.dropna(how = "any",inplace = True)
iris.head(5)

   花瓣长度  花瓣宽度  花萼长度  花萼宽度
3   5.0   3.6   1.4   0.2
4   5.4   3.9   1.7   0.4
5   4.6   3.4   1.4   0.3
6   5.0   3.4   1.5   0.2
7   4.4   2.9   1.4   0.2

In [18]:
# 使用dropna()删除空值行,注意参数how的选取

#查看数据

   花瓣长度  花瓣宽度  花萼长度  花萼宽度
3   5.0   3.6   1.4   0.2
4   5.4   3.9   1.7   0.4
5   4.6   3.4   1.4   0.3
6   5.0   3.4   1.5   0.2
7   4.4   2.9   1.4   0.2