In [7]:
import pandas as pd
import numpy as np

In [8]:
a = pd.DataFrame({'a':[2,3],'b':[1,2]})

In [9]:
b = pd.DataFrame({'c':[2,3],'b':[1,2]})

In [10]:
pd.merge(a,b)

   a  b  c
0  2  1  2
1  3  2  3

In [11]:
pd.merge(a,b,left_on = 'a',right_on = 'c')

   a  b_x  c  b_y
0  2    1  2    1
1  3    2  3    2

In [12]:
pd.merge(a,b,on = 'b')

   a  b  c
0  2  1  2
1  3  2  3

In [13]:
pd.merge(a,b,left_index = True,right_index = True)

   a  b_x  c  b_y
0  2    1  2    1
1  3    2  3    2

In [14]:
c = pd.DataFrame({
    'a':[1,2,3,4,5,8,6,7],
    'b':[1,2,3,4,5,8,6,7],
    'c':[1,2,3,4,5,8,6,7],
    'd':[1,2,3,4,5,8,6,7],
              })

In [15]:
c

   a  b  c  d
0  1  1  1  1
1  2  2  2  2
2  3  3  3  3
3  4  4  4  4
4  5  5  5  5
5  8  8  8  8
6  6  6  6  6
7  7  7  7  7

In [16]:
c.groupby(by = ['a'])['b'].sum()

a
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
Name: b, dtype: int64

In [17]:
c.groupby(by = ['a','b'])['c'].count()

a  b
1  1    1
2  2    1
3  3    1
4  4    1
5  5    1
6  6    1
7  7    1
8  8    1
Name: c, dtype: int64

In [18]:
c.groupby(by = ['a'])['c'].apply(lambda x:x.sum())

a
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
Name: c, dtype: int64

In [19]:
c.groupby(by = ['a','b'])['c'].apply(lambda x:x.sort_index())

0    1
1    2
2    3
3    4
4    5
5    8
6    6
7    7
Name: c, dtype: int64