In [1]:
import pandas as pd

In [2]:
import pymysql

In [3]:
ini = {
    "host":"localhost",
    "user":"root",
    "password":"7758258",
    "port":3306,
    "database":"db",
    "charset":"utf8"
         }

In [4]:
connect = pymysql.connect(**ini)

In [5]:
data = pd.read_sql(
    "select * from 贷款表",
    connect
                  )

In [6]:
data.tail()

    大区         脱敏手机 脱敏姓名  借款类型        上线时间      金额  所属销售  test
22  华北  133****4061  刘**   工薪类  2019-08-07  7000.0   李文静   abc
23  华西  137****2572  李**   精英类  2019-08-02     NaN   王伟伟   abc
24  华中  180****9592  张**  精英A类  2019-08-05     NaN   王伟伟   abc
25  华西  159****1734  王**   工薪类  2019-08-02  7000.0   李文静   abc
26  华东  137****2572  李**  公积金类        None     NaN  None  None