# 第一种

In [1]:
file = 'text.txt'
with open(file,'r')as f:
    lines = f.read()
    print(lines)

line1: This is line1
line2: This is line2

# 第二种

In [2]:
with open(file,'r')as f:
    line = f.readlines()
    print(line)

['line1: This is line1\n', 'line2: This is line2']

# 第三种

In [3]:
with open(file,'r')as f:
    print(f.tell())
    line = f.readline()
    while line:
        print(f.tell())
        print(line)
        line = f.readline()

0
22
line1: This is line1

42
line2: This is line2

# 从数据库读取文件

In [17]:
ini = {
    "host":"localhost",
    "user":"root",
    "password":"7758258",
    "port":3306,
    "database":"db",
    "charset":"utf8"
         }

In [18]:
sql = "select * from 贷款表"

In [19]:
import pymysql

In [20]:
import pandas as pd

In [21]:
# 创建链接
connect = pymysql.connect(**ini)

In [22]:
# 获得游标
cursor = connect.cursor()

In [23]:
# 执行SQL语句
cursor.execute(sql)

27

In [24]:
# 获得数据
data = cursor.fetchall()

In [25]:
# 遍历数据
df = pd.DataFrame(list(data))

In [26]:
df.head()

    0            1    2     3           4       5    6    7
0  华东  137****2572  李**  公积金类  2019-08-04     NaN  王伟伟  abc
1  华西  183****5772  汪**   精英类  2019-08-01  7000.0   刘雨  abc
2  华中  183****2391  蔡**   精英类  2019-08-04     NaN  王伟伟  abc
3  华中  183****5772  汪**   精英类  2019-08-03  7000.0   刘雨  abc
4  华东  180****9590  张**  公积金类  2019-08-08  5000.0   刘雨  abc

In [27]:
# 关闭游标
cursor.close()

In [28]:
# 关闭连接
connect.close()

In [48]:
connect2 = pymysql.connect(**ini)

In [49]:
cursor2 = connect2.cursor()

In [50]:
cursor2.execute(sql)

27

In [51]:
file = cursor2.fetchall()

In [52]:
df2 = pd.DataFrame(list(file))

In [53]:
df2.head()

    0            1    2     3           4       5    6    7
0  华东  137****2572  李**  公积金类  2019-08-04     NaN  王伟伟  abc
1  华西  183****5772  汪**   精英类  2019-08-01  7000.0   刘雨  abc
2  华中  183****2391  蔡**   精英类  2019-08-04     NaN  王伟伟  abc
3  华中  183****5772  汪**   精英类  2019-08-03  7000.0   刘雨  abc
4  华东  180****9590  张**  公积金类  2019-08-08  5000.0   刘雨  abc

In [54]:
cursor2.close()

In [55]:
connect2.close()

In [12]:
def connect_c(host,
              user,
              password,
              post,
              database,
              charset,
              sql):
    import pymysql
    import pandas as pd
    ini = {
        'host':host,
        'user':user,
        'password':password,
        'port':post,
        'database':database,
        'charset':charset
             }
    sql = sql
    connect = pymysql.connect(**ini)
    cursor = connect.cursor()
    cursor.execute(sql)
    data = cursor.fetchall()
    df = pd.DataFrame(list(data))
    return df
    cursor.colse()
    connect.colse()

In [13]:
connect_c(
    'localhost',
    'root',
    '7758258',
    3306,
    'db',
    'utf8',
    'select * from 贷款表'
          ).tail()

     0            1    2     3           4       5     6     7
22  华北  133****4061  刘**   工薪类  2019-08-07  7000.0   李文静   abc
23  华西  137****2572  李**   精英类  2019-08-02     NaN   王伟伟   abc
24  华中  180****9592  张**  精英A类  2019-08-05     NaN   王伟伟   abc
25  华西  159****1734  王**   工薪类  2019-08-02  7000.0   李文静   abc
26  华东  137****2572  李**  公积金类        None     NaN  None  None

# json

In [56]:
import requests

In [76]:
add = '北京艺术传媒学院'

In [77]:
mykey = "DdOyOKo0VZBgdDFQnyhINKYDGkzBkuQr"

In [78]:
url = "http://api.map.baidu.com/geocoder/v2/?address=%s&output=json&ak=%s"

In [79]:
res = requests.get(url % (add, mykey))

In [80]:
res.text

'{"status":0,"result":{"location":{"lng":116.4133836971231,"lat":39.910924547299568},"precise":0,"confidence":20,"comprehension":100,"level":"城市"}}'

In [73]:
import json

In [74]:
add_json = json.loads(res.text)

In [75]:
add_json

{'status': 0,
 'result': {'location': {'lng': 116.4133836971231, 'lat': 39.910924547299565},
  'precise': 0,
  'confidence': 20,
  'comprehension': 100,
  'level': '城市'}}

In [81]:
type(add_json)

dict

In [82]:
lng = add_json['result']['location']

In [83]:
lng

{'lng': 116.4133836971231, 'lat': 39.910924547299565}

# xml

In [87]:
url = "http://api.map.baidu.com/geocoder/v2/?address=%s&output=xml&ak=%s"

In [88]:
res = requests.get(url % (add, mykey))

In [89]:
res.text

'<?xml version="1.0" encoding="utf-8"?>\n<GeocoderSearchResponse>\n\t<status>0</status>\n\t<result>\n\t\t<location>\n\t\t\t<lng>116.413383697</lng>\n\t\t\t<lat>39.9109245473</lat>\n\t\t</location>\n\t\t<precise>0</precise>\n\t\t<confidence>20</confidence>\n\t\t<comprehension>100</comprehension>\n\t\t<level>城市</level>\n\t</result>\n</GeocoderSearchResponse>\n\n'

In [90]:
import xml.etree.ElementTree as Etree

In [91]:
root = Etree.fromstring(res.text)

In [92]:
lng = root[1][0][0].text

In [93]:
lat = root[1][0][1].text

In [95]:
print(f"lng: {lng}")
print(f"lat: {lat}")

lng: 116.413383697
lat: 39.9109245473