## 案例：药店销售数据分析

In [1]:
#导入数据分析包
import pandas as pd

In [2]:
# excel文件路径，路径中的./表示在当前notebook所在的文件夹路径
# 路径中最好不要有中文，最好将文件放到一个简单的英文路径下
#读取数据

data = pd.read_excel('朝阳医院2018年销售数据.xlsx',dtype=str)

In [3]:
#打印出前x行，以确保数据运行正常
data.head(10)

             购药时间           社保卡号    商品编码     商品名称 销售数量   应收金额    实收金额
0  2018-01-01 星期五      001616528  236701  强力VC银翘片    6   82.8      69
1  2018-01-02 星期六      001616528  236701  清热解毒口服液    1     28   24.64
2  2018-01-06 星期三     0012602828  236701       感康    2   16.8      15
3  2018-01-11 星期一  0010070343428  236701    三九感冒灵    1     28      28
4  2018-01-15 星期五    00101554328  236701    三九感冒灵    8    224     208
5  2018-01-20 星期三     0013389528  236701    三九感冒灵    1     28      28
6  2018-01-31 星期日    00101464928  236701    三九感冒灵    2     56      56
7  2018-02-17 星期三     0011177328  236701    三九感冒灵    5    149  131.12
8  2018-02-22 星期一  0010065687828  236701    三九感冒灵    1   29.8   26.22
9  2018-02-24 星期三     0013389528  236701    三九感冒灵    4  119.2  104.89

In [4]:
data.tail(10)

                购药时间           社保卡号     商品编码 商品名称 销售数量  应收金额  实收金额
6568  2018-04-26 星期二  0010052558628  2367011  高特灵    2  11.2    10
6569  2018-04-26 星期二    00108945828  2367011  高特灵    2  11.2    10
6570             NaN     0011778628  2367011  高特灵   10    56    56
6571  2018-04-25 星期二            NaN  2367011  高特灵    2  11.2  9.86
6572  2018-04-27 星期三  0010060482828  2367011  高特灵    1   5.6     5
6573  2018-04-27 星期三    00107886128  2367011  高特灵   10    56  54.8
6574             NaN            NaN      NaN  NaN  NaN   NaN   NaN
6575  2018-04-27 星期三  0010087865628  2367011  高特灵    2  11.2  9.86
6576  2018-04-27 星期三     0013406628  2367011  高特灵    1   5.6     5
6577  2018-04-28 星期四     0011926928  2367011  高特灵    2  11.2    10

In [5]:
data.shape

(6578, 7)

In [6]:
#查看数据集大小

In [7]:
data.dtypes

购药时间    object
社保卡号    object
商品编码    object
商品名称    object
销售数量    object
应收金额    object
实收金额    object
dtype: object

In [19]:
#查看每一列的数据类型

购药时间    object
社保卡号    object
商品编码    object
商品名称    object
销售数量    object
应收金额    object
实收金额    object
dtype: object

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6578 entries, 0 to 6577
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   购药时间    6576 non-null   object
 1   社保卡号    6576 non-null   object
 2   商品编码    6577 non-null   object
 3   商品名称    6577 non-null   object
 4   销售数量    6577 non-null   object
 5   应收金额    6577 non-null   object
 6   实收金额    6577 non-null   object
dtypes: object(7)
memory usage: 359.9+ KB

In [20]:
#数据信息查看

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6578 entries, 0 to 6577
Data columns (total 7 columns):
购药时间    6576 non-null object
社保卡号    6576 non-null object
商品编码    6577 non-null object
商品名称    6577 non-null object
销售数量    6577 non-null object
应收金额    6577 non-null object
实收金额    6577 non-null object
dtypes: object(7)
memory usage: 359.8+ KB

## 2.数据清洗

In [9]:
data.head()

             购药时间           社保卡号    商品编码     商品名称 销售数量  应收金额   实收金额
0  2018-01-01 星期五      001616528  236701  强力VC银翘片    6  82.8     69
1  2018-01-02 星期六      001616528  236701  清热解毒口服液    1    28  24.64
2  2018-01-06 星期三     0012602828  236701       感康    2  16.8     15
3  2018-01-11 星期一  0010070343428  236701    三九感冒灵    1    28     28
4  2018-01-15 星期五    00101554328  236701    三九感冒灵    8   224    208

In [21]:
#字典：旧列名和新列名对应关系

In [15]:
d = {'购药时间':'销售时间'}
data.rename(columns = d, inplace = True)

In [10]:
data.head()

             购药时间           社保卡号    商品编码     商品名称 销售数量  应收金额   实收金额
0  2018-01-01 星期五      001616528  236701  强力VC银翘片    6  82.8     69
1  2018-01-02 星期六      001616528  236701  清热解毒口服液    1    28  24.64
2  2018-01-06 星期三     0012602828  236701       感康    2  16.8     15
3  2018-01-11 星期一  0010070343428  236701    三九感冒灵    1    28     28
4  2018-01-15 星期五    00101554328  236701    三九感冒灵    8   224    208

In [16]:
data.head()

             销售时间           社保卡号    商品编码     商品名称 销售数量  应收金额   实收金额
0  2018-01-01 星期五      001616528  236701  强力VC银翘片    6  82.8     69
1  2018-01-02 星期六      001616528  236701  清热解毒口服液    1    28  24.64
2  2018-01-06 星期三     0012602828  236701       感康    2  16.8     15
3  2018-01-11 星期一  0010070343428  236701    三九感冒灵    1    28     28
4  2018-01-15 星期五    00101554328  236701    三九感冒灵    8   224    208

In [17]:
data.shape

(6578, 7)

In [18]:
print('删除缺失值前大小',data.shape)

删除缺失值前大小 (6578, 7)

In [19]:
data.tail(10)

                销售时间           社保卡号     商品编码 商品名称 销售数量  应收金额  实收金额
6568  2018-04-26 星期二  0010052558628  2367011  高特灵    2  11.2    10
6569  2018-04-26 星期二    00108945828  2367011  高特灵    2  11.2    10
6570             NaN     0011778628  2367011  高特灵   10    56    56
6571  2018-04-25 星期二            NaN  2367011  高特灵    2  11.2  9.86
6572  2018-04-27 星期三  0010060482828  2367011  高特灵    1   5.6     5
6573  2018-04-27 星期三    00107886128  2367011  高特灵   10    56  54.8
6574             NaN            NaN      NaN  NaN  NaN   NaN   NaN
6575  2018-04-27 星期三  0010087865628  2367011  高特灵    2  11.2  9.86
6576  2018-04-27 星期三     0013406628  2367011  高特灵    1   5.6     5
6577  2018-04-28 星期四     0011926928  2367011  高特灵    2  11.2    10

In [30]:
#删除列（销售时间，社保卡号）中为空的行
#how='any' 在给定的任何一列中有缺失值就删除

In [20]:
data.shape

(6578, 7)

In [21]:
data.shape

(6578, 7)

4.数据类型转换

字符串转换为数值（浮点型）

In [22]:
import numpy as np

In [23]:
data['销售数量'] = data['销售数量'].astype(np.float32)
data['应收金额'] = data['应收金额'].astype(np.float32)
data['实收金额'] = data['实收金额'].astype(np.float32)

In [24]:
data.dtypes

销售时间     object
社保卡号     object
商品编码     object
商品名称     object
销售数量    float32
应收金额    float32
实收金额    float32
dtype: object

In [32]:
import numpy as np
#字符串转换为数值（浮点型）

转换后的数据类型：
 销售时间     object
社保卡号     object
商品编码     object
商品名称     object
销售数量    float32
应收金额    float32
实收金额    float32
dtype: object

- lambda x:x.split(' ')

In [25]:
data.head()

,销售时间,社保卡号,商品编码,商品名称,销售数量,应收金额,实收金额
0,2018-01-01 星期五,001616528,236701,强力VC银翘片,6.0,82.800003,69.000000
1,2018-01-02 星期六,001616528,236701,清热解毒口服液,1.0,28.000000,24.639999
2,2018-01-06 星期三,0012602828,236701,感康,2.0,16.799999,15.000000
3,2018-01-11 星期一,0010070343428,236701,三九感冒灵,1.0,28.000000,28.000000
4,2018-01-15 星期五,00101554328,236701,三九感冒灵,8.0,224.000000,208.000000

In [26]:
data.head()

,销售时间,社保卡号,商品编码,商品名称,销售数量,应收金额,实收金额
0,2018-01-01 星期五,001616528,236701,强力VC银翘片,6.0,82.800003,69.000000
1,2018-01-02 星期六,001616528,236701,清热解毒口服液,1.0,28.000000,24.639999
2,2018-01-06 星期三,0012602828,236701,感康,2.0,16.799999,15.000000
3,2018-01-11 星期一,0010070343428,236701,三九感冒灵,1.0,28.000000,28.000000
4,2018-01-15 星期五,00101554328,236701,三九感冒灵,8.0,224.000000,208.000000

In [27]:
data.columns

Index(['销售时间', '社保卡号', '商品编码', '商品名称', '销售数量', '应收金额', '实收金额'], dtype='object')

In [31]:
data.dtypes

销售时间     object
社保卡号     object
商品编码     object
商品名称     object
销售数量    float32
应收金额    float32
实收金额    float32
dtype: object

In [29]:
data['销售时间']

0       2018-01-01 星期五
1       2018-01-02 星期六
2       2018-01-06 星期三
3       2018-01-11 星期一
4       2018-01-15 星期五
             ...
6573    2018-04-27 星期三
6574               NaN
6575    2018-04-27 星期三
6576    2018-04-27 星期三
6577    2018-04-28 星期四
Name: 销售时间, Length: 6578, dtype: object

In [39]:
data['销售时间'] = data['销售时间'].astype('str')

In [40]:
data['销售时间'] = data['销售时间']. \
apply(lambda x:x.split(" ")[0])

In [42]:
data['销售时间']

0       2018-01-01
1       2018-01-02
2       2018-01-06
3       2018-01-11
4       2018-01-15
           ...
6573    2018-04-27
6574           nan
6575    2018-04-27
6576    2018-04-27
6577    2018-04-28
Name: 销售时间, Length: 6578, dtype: object

In [34]:
# 把时间切分,只保留日期,不保留星期

In [43]:
data.head()

         销售时间           社保卡号    商品编码     商品名称  销售数量        应收金额        实收金额
0  2018-01-01      001616528  236701  强力VC银翘片   6.0   82.800003   69.000000
1  2018-01-02      001616528  236701  清热解毒口服液   1.0   28.000000   24.639999
2  2018-01-06     0012602828  236701       感康   2.0   16.799999   15.000000
3  2018-01-11  0010070343428  236701    三九感冒灵   1.0   28.000000   28.000000
4  2018-01-15    00101554328  236701    三九感冒灵   8.0  224.000000  208.000000

字符串转换为日期数据类型

In [44]:
data.dtypes

销售时间     object
社保卡号     object
商品编码     object
商品名称     object
销售数量    float32
应收金额    float32
实收金额    float32
dtype: object

In [45]:
from datetime import datetime

In [47]:
data['销售时间'] = pd.to_datetime(data['销售时间'],errors='coerce')

In [48]:
data.dtypes

销售时间    datetime64[ns]
社保卡号            object
商品编码            object
商品名称            object
销售数量           float32
应收金额           float32
实收金额           float32
dtype: object

In [52]:
#errors='coerce' 如果原始数据不符合日期的格式，转换后的值为空值NaT  sql(%Y-%m-%d)
#format 是你原始数据中日期的格式

In [49]:
data.dtypes

销售时间    datetime64[ns]
社保卡号            object
商品编码            object
商品名称            object
销售数量           float32
应收金额           float32
实收金额           float32
dtype: object

In [50]:
data.shape

(6578, 7)

In [52]:
data.shape

(6578, 7)

5.数据排序

In [51]:
data.isnull().sum()

销售时间    25
社保卡号     2
商品编码     1
商品名称     1
销售数量     1
应收金额     1
实收金额     1
dtype: int64

In [53]:
data.isnull().any()

购药时间     True
社保卡号    False
商品编码    False
商品名称    False
销售数量    False
应收金额    False
实收金额    False
dtype: bool

In [53]:
data.dropna(how = 'any',inplace = True)

In [54]:
data.isnull().any()

销售时间    False
社保卡号    False
商品编码    False
商品名称    False
销售数量    False
应收金额    False
实收金额    False
dtype: bool

In [55]:
data.shape

(6552, 7)

In [56]:
data.shape

(6552, 7)

In [59]:
data.sort_values(by = ['销售时间'],inplace = True)

In [60]:
data.head()

           销售时间           社保卡号    商品编码            商品名称  销售数量        应收金额  实收金额
0    2018-01-01      001616528  236701         强力VC银翘片   6.0   82.800003  69.0
1475 2018-01-01    00107891628  861456  酒石酸美托洛尔片(倍他乐克)   2.0   14.000000  12.6
1306 2018-01-01      001616528  861417      雷米普利片(瑞素坦)   1.0   28.500000  28.5
3859 2018-01-01  0010073966328  866634     硝苯地平控释片(欣然)   6.0  111.000000  92.5
3888 2018-01-01  0010014289328  866851     缬沙坦分散片(易达乐)   1.0   26.000000  23.0

In [51]:
# 按销售日期进行升序排列

,销售时间,社保卡号,商品编码,商品名称,销售数量,应收金额,实收金额
0,2018-01-01,001616528,236701,强力VC银翘片,6.0,82.800003,69.0
4562,2018-01-01,0010074599128,874684,厄贝沙坦氢氯噻嗪片(依伦平),5.0,118.000000,118.0
1475,2018-01-01,00107891628,861456,酒石酸美托洛尔片(倍他乐克),2.0,14.000000,12.6
1306,2018-01-01,001616528,861417,雷米普利片(瑞素坦),1.0,28.500000,28.5
3888,2018-01-01,0010014289328,866851,缬沙坦分散片(易达乐),1.0,26.000000,23.0

In [69]:
data.reset_index(drop = True,inplace = True)

In [70]:
data.head()

        销售时间           社保卡号    商品编码            商品名称  销售数量        应收金额  实收金额
0 2018-01-01      001616528  236701         强力VC银翘片   6.0   82.800003  69.0
1 2018-01-01    00107891628  861456  酒石酸美托洛尔片(倍他乐克)   2.0   14.000000  12.6
2 2018-01-01      001616528  861417      雷米普利片(瑞素坦)   1.0   28.500000  28.5
3 2018-01-01  0010073966328  866634     硝苯地平控释片(欣然)   6.0  111.000000  92.5
4 2018-01-01  0010014289328  866851     缬沙坦分散片(易达乐)   1.0   26.000000  23.0

In [54]:
#重命名行名（reset_index）：排序后的列索引值是之前的行号，需要修改成从0到N按顺序的索引值

In [71]:
data.isnull().sum()

销售时间    0
社保卡号    0
商品编码    0
商品名称    0
销售数量    0
应收金额    0
实收金额    0
dtype: int64

In [72]:
data.head()

        销售时间           社保卡号    商品编码            商品名称  销售数量        应收金额  实收金额
0 2018-01-01      001616528  236701         强力VC银翘片   6.0   82.800003  69.0
1 2018-01-01    00107891628  861456  酒石酸美托洛尔片(倍他乐克)   2.0   14.000000  12.6
2 2018-01-01      001616528  861417      雷米普利片(瑞素坦)   1.0   28.500000  28.5
3 2018-01-01  0010073966328  866634     硝苯地平控释片(欣然)   6.0  111.000000  92.5
4 2018-01-01  0010014289328  866851     缬沙坦分散片(易达乐)   1.0   26.000000  23.0

6.异常值处理

In [73]:
data.isnull().any()

销售时间    False
社保卡号    False
商品编码    False
商品名称    False
销售数量    False
应收金额    False
实收金额    False
dtype: bool

In [76]:
data.describe()

              销售数量         应收金额         实收金额
count  6552.000000  6552.000000  6552.000000
mean      2.384157    50.430260    46.266518
std       2.374785    87.681244    81.043976
min     -10.000000  -374.000000  -374.000000
25%       1.000000    14.000000    12.320000
50%       2.000000    28.000000    26.500000
75%       2.000000    59.599998    53.000000
max      50.000000  2950.000000  2650.000000

In [78]:
data.describe(include= object)
# include 包含什么就显示什么

             社保卡号     商品编码           商品名称
count        6552     6552           6552
unique       2423       85             78
top     001616528  2367011  苯磺酸氨氯地平片(安内真)
freq          248      616            898

In [56]:
#描述指标

              销售数量         应收金额         实收金额
count  6552.000000  6552.000000  6552.000000
mean      2.384157    50.430264    46.266518
std       2.374786    87.681236    81.043976
min     -10.000000  -374.000000  -374.000000
25%       1.000000    14.000000    12.320000
50%       2.000000    28.000000    26.500000
75%       2.000000    59.599998    53.000000
max      50.000000  2950.000000  2650.000000